
  <%= bootstrap_devise_error_messages! %>
  
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>
  <div class="form-group">
     <%= f.label :birthday, class: "form-label" %>
     <%= f.date_field :birthday, class: "form-control", required: true, min: Time.now - 100.years, max: Time.now %>
  </div>
  <div class="form-group">
     <%= f.label :address, class: "form-label" %>
     <%= f.text_field :address, class: "form-control", placeholder: "1234 Main St", required: true, maxlength: 100 %>
  </div>
  
 
  <%# <div class="form-group">
     <%= f.label :behavior, class: "form-label" %>
      <%# <%= f.text_area :behavior, class: 'form-control mb-3', placeholder: "Tell about yourself.", 
                              required: true, minlength: 10, maxlength: 280 %>
  <%# </div> %> 
  
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' %>
    <% if @minimum_password_length %>
      <small class="form-text text-muted"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: 'current-password', class: 'form-control' %>
  </div>

