      <hr>
      <h2 class="fw-light">Reviews:</h2>
      <% user.reviews_on.each do |review| %>
        <% next if review.new_record? %>

        <div class="card m-1 fs-5">
          <div class="card-body">
              <p>
                <%= review.body %>
                <% if current_user.role=='santa' || current_user.role=='admin'%>
                <%= link_to 'Delete', user_reviews_path(user, id: review.id),
                                        class: 'btn btn-danger position-absolute top-0 end-0 m-3', method: :delete %>
                <%end%>                        
                </p>
              <footer class="blockquote-footer m-0">
                Added by <%= link_to reviewer(review), review.reviewer %> on <%= review.created_at.to_date %>
              </footer>
          </div>
        </div>
      <% end %>
      <hr> 
      <h5>Create Review</h5>
      <%= form_with model: [user, user.reviews_on.build], class: "needs-validation", html: { novalidate: true } do |f| %>
        <div class="form-group">
         <%= f.text_area :body, id: 'review-body', class: 'form-control', required: true, minlength: 10, maxlength: 280 , placeholder:'minimum 10 symbols'%>
        </div>
        <div class="form-group">
          <%= f.submit 'Send', class: 'btn btn-primary' %>
        </div>
      <% end %>
    