<% if can? :toggle_selected, Gift %>
  <%= filterable 'not_decided', title: 'Only Kids with not decided gifts', class: 'btn btn-outline-primary' %>
<% end %>
<table id="table-users" class="table table-striped">
  <thead>
    <tr>
      <% sortable_columns.each do |column| %>
        <th scope="col">
          <%= sortable column, class: 'btn fw-bolder' %>
        </th>
      <% end %>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.birthdate %></td>
        <td><%= user.email %></td>
        <td class="text-center">
          <%= show_link user, class: 'btn btn-outline-primary' %>
          <%= show_link user.gifts.build, link: user_gifts_path(user), content: 'Gifts', class: 'btn btn-outline-primary' %>
        </td>
      </tr> 
    <% end %>
  </tbody>
</table>

<%= paginate @users %>