
<table class="table ">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td class="text-center">
          <%= link_to 'Add Review', user, class: 'btn btn-outline-primary' %>
          <%= link_to (current_user.first_name+"'s"+' gifts').html_safe, user_gifts_path(current_user),  class: 'nav-link' %> 
        </td>
      </tr> 
    <% end %>
  </tbody>
</table>

