<%= link_to "Back to list of gifts", [user, Gift], class: 'btn btn-outline-primary' %>
<div id="gift-card-<%= gift.id %>" class="card my-2">
  <div class="card-header d-flex justify-content-between">
    <h5 class="card-title"><%= gift.title %></h5>
    <div>
        <%= link_to 'Edit', edit_user_gift_path(current_user.id, gift.id) , class: 'btn btn-primary' %>
        <%= link_to 'Delete', user_gift_path(current_user.id, gift.id), class: 'btn btn-danger' %>
    </div>
  </div>
  <% unless gift.description.blank? %>
    <div class="card-body mb-2">
      <p class="card-text"><%= gift.description %></p>
    </div>
  <% end %>

  <div class="row">
    <% @images.each do |image| %>
      <div class="col text-center">
        <%= image_tag image.image.url, size: '300x300', class: 'm-1' %>
        <%= link_to '',
                    user_gift_images_path(user, gift, id: image.id),
                    method: :delete,
                    data: { confirm: 'Are you sure?' },
                    type: 'button',
                    class: 'btn-close align-top' %>
      </div>
    <% end %>
  </div>

  <% if can? :edit, gift %>
    <%= form_with model: @image, url: user_gift_images_path(user, gift), method: :post do |form| %>
      <%= form.file_field :image, class: 'form-control mt-3' %>
      <%= form.submit "Add image", class: 'btn btn-outline-primary btn-lg w-100' %>
    <% end %>
  <% end %>
</div>
